{
  "presets": [
    ["env", {
      "module": false,
      "targets": {
        "node": "current"
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "ignore": [
    "node_modules/**/*.js",
    "server/bundles/**/*.js",
    "server/bin/**/*.js"
  ],
  "minified": true
}
