$break-xsmall: 30rem;
$break-small: 48rem;
$break-medium: 64rem;
$break-large: 75rem;

@mixin query($media) {
  @if $media == only-xsmall {
    @media only screen and (max-width: $break-xsmall) { @content; }
  }
  @if $media == only-small {
    @media only screen and (min-width: $break-xsmall + 1) and (max-width: $break-small) { @content; }
  }
  @else if $media == only-medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }
  @else if $media == only-large {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
  }
  @else if $media == only-xlarge {
    @media only screen and (min-width: $break-large +1) { @content; }
  }

  @if $media == up-xsmall {
    @media only screen and (min-width: $break-xsmall + 1) { @content; }
  }
  @if $media == up-small {
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
  @else if $media == up-medium {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }
  @else if $media == up-large {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
  @else if $media == up-xlarge {
    @media only screen and (min-width: $break-xlarge +1) { @content; }
  }

  @if $media == down-xsmall {
    @media only screen and (max-width: $break-xsmall) { @content; }
  }
  @if $media == down-small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == down-medium {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == down-large {
    @media only screen and (max-width: $break-large) { @content; }
  }
  @else if $media == down-xlarge {
    @media only screen and (max-width: $break-xlarge) { @content; }
  }
}
