@import './_colors.scss';
@import './_fonts.scss';

html, body {
  background-color: black;
  font-family: $font2, serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a, ul, nav, header, h1, h2, h3, h4, h5, h6 {
  font-family: $font1;
}

section {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  background-color: $color3;
}

#app-content {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
