@import './_colors.scss';
@import './_fonts.scss';

html, body {
  background-color: $color1;
  font-family: $font2, serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

ul, nav, header, h1, h2, h3, h4, h5, h6 {
  font-family: $font1;
}

section {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  background-color: $color1;
}

#app-content {
  min-width: 100vw;
  min-height: 100vh;
}

*{
  -webkit-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
