@import '../../sass/_colors.scss';
@import '../../sass/_mixins.scss';
@import '../../sass/_constant.scss';

.profesora {
  margin: 0 5%;
  padding: 100px 5% 0 5%;
  background: $color3;
  @include query(down-medium) {
    padding: 0 0 2em 0;
    margin: 0;
    background: $color3;
  }

  &__image {
    height: $heightImage;
    overflow: hidden;
    @include query(down-medium) {
      padding: 0;
      height: auto;
    }
    img {
      filter: grayscale(85%);
      width: 100%;
    }
  }

  &__info {
    margin-top: -40px;
    padding-left: 5%;
    z-index: 1;
    @include query(down-medium) {
      margin-top: -35px;
    }
    &__name, &__surname {
      display: block;
      font-size: (60rem/16);
      @include query(down-medium) {
        font-size: (45rem/16)
      }
    }
    &__name {
      color: $color2;
    }
  }

  &__details {
    background-color: transparent;
    padding: 0 10%;
    padding-top: 30px;
    line-height: 2em;
    text-indent: 30px;
    column-count: 2;
    @include query(down-medium) {
      column-count: 1;
      line-height: 1.5em;
    }
  }


}
