@import '../../sass/_colors.scss';
@import '../../sass/_mixins.scss';

.messageDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba($color1, .8);
  z-index: 999;
  min-height: 100vh;
  min-width: 100vw;

  &__form {
    background-color: $color3;
    min-height: 80vh;
    max-width: 95vw;
    width: 400px;
    padding: 1%;
    opacity: 0;
    @include query(down-medium) {
      padding: 5%;
    }

    &__title {
      text-align: center;
      color: $color2;
      margin-bottom: 50px;
    }

    input {
      border: unset;
      border-bottom: 2px solid #eee;
      padding: 5px 10px;
      width: 100%;
      color: $color1;
      margin-bottom: 20px;
    }

    button {
      background-color: rgba(148, 130, 62, .4);
      padding: 5px 20px;
      margin-right: 50px;
      border: 1px solid #eee;
      border-radius: 5px;
      letter-spacing: 1px;
    }
  }
}
