@import '../../sass/_colors.scss';
@import '../../sass/_mixins.scss';

.home {
  min-height: 100vh;
  &__image {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    background-position: center center;
    background-size: cover;
    filter: grayscale(25%);
  }
}
