@import '../../sass/_colors.scss';
@import '../../sass/_mixins.scss';

.home {
  min-height: 100vh;
  min-width: 100vw;
  overflow: visible;
  &__mainImage {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
      opacity: 0;
      height: 100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(25%);
      @include query(down-medium) {
        transform: scale(2.5);
        height: auto;
        width: 100%;
      }
    }
  }

  &__caret {
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 40px;
    &__image {
      background-color: rgba($color2, .9);
      border-radius: 50%;
      z-index: 1;

      &:hover {
        transform: scale(0.9);
        transition: transform 1s ease;
        cursor: pointer;
      }
    }
  }
}
