@import '../../../layout/_mixins.scss';

.list-profesoras {
  display: flex;
  .profesora {
    display: flex;
    justify-content: space-between;
    .foto {
      img {
        opacity: 0.8;
        max-width: 100%;
      }
    }

    .info {
      h2 {
        text-align: center;
        font-size: 60px;
        font-weight: 200;
        @include respond-to(medium) {
          font-size: 40px;
        }
      }
      p {
        font-size: 14px;
        line-height: 25px;
      }
    }

    & > div {
      width: 50%;
    }

    @include respond-to(medium) {
      flex-wrap: wrap;
      & > div {
        width: 100%;
      }
    }
  }
}
