@import '../../sass/_colors.scss';

@keyframes rotate-loading {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loading-opacity {
  0%  { opacity: 0 }
  50% { opacity: 1 }
  100%{ opacity: 0 }
}

.loading {
  height: 100vh;
  width: 100vw;

  &__text, &__circle {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__circle > div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-color: transparent $color3 transparent $color3;
    animation: rotate-loading 1.5s linear 0s infinite normal;
  }

  &__text > div {
    width: 100px;
    text-align: center;
    color: $color3;
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    animation: loading-opacity 2s linear 0s infinite normal;
  }

  &:hover &__circle > div {
    border-color: transparent $color2 transparent $color2;
    transition: all 0.5s ease-in-out;
  }
}
