.about {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: transparent;

  &__text {
    color: white;
    text-align: center;
    font-size: 40px;

    &--secondary {
      font-size: 40px;
    }

    .number {
      color: pink;
    }
  }
}
