.about {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: transparent;

  &__main-text {
    color: white;
    font-size: 40px;
  }

  &__secondary-text {
    color: white;
    font-size: 25px;
    .number {
      color: pink;
      font-size: 40px;
    }
  }
}
