@import '../../sass/_colors.scss';

.navMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  opacity: .7;
  position: fixed;
  height: 75px;
  width: 100vw;
  padding: 10px 0;
  z-index: 998;

  &__logo {
    height: 100%;
    padding-left: 10vw;
    img {
      filter: invert(100%);
      height: 100%;
    }
  }

  &__action {
    top: 30px;
    padding-right: 15vw;
    &:focus {
      outline: 1px dotted #666;
    }

    &__icon {
      .menui {
        margin-top: 30px;
      }
    }
  }
}
